<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/apphead3.ejs %>
</head>


<body>
    <div id="container">

        <h3 id="title">How to Play</h3>
            
        <div id="texthere">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a tempus tellus. Duis at pellentesque ligula. Nullam ex urna, euismod et mattis in, finibus sed nisi. Donec accumsan leo orci, eget commodo metus sollicitudin non. Vestibulum vel libero id enim euismod malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem tellus, pretium quis massa vel, condimentum rutrum diam. Curabitur dignissim nunc luctus arcu maximus elementum.
            </p>
            <p>
                Duis posuere lectus aliquet, feugiat turpis sed, fringilla orci. Cras in urna nec tellus elementum ultricies. Morbi sodales, leo a pretium volutpat, lacus nibh cursus justo, eu gravida orci orci quis sapien. Proin consequat neque nec lobortis interdum. Sed egestas iaculis vulputate. Morbi vitae rutrum ante, et rutrum quam. Donec aliquam cursus viverra. Ut consectetur velit nec porttitor congue. Nullam justo eros, auctor at velit in, congue viverra ante. Fusce efficitur arcu sed elementum suscipit. Etiam a diam auctor, sagittis nulla eu, tristique nisl. Sed eu nisl eros. Nulla ut ligula sit amet quam ornare dictum a in est.
            </p>

            <p>
                Phasellus elit risus, iaculis sit amet diam quis, eleifend convallis lacus. Quisque rhoncus ex ac turpis condimentum eleifend. Cras sed neque nulla. Aenean luctus dui leo, sed convallis nunc mollis in. Vestibulum mi ante, luctus vitae hendrerit at, feugiat eu eros. Aliquam erat volutpat. Ut vitae risus eu mauris sollicitudin fringilla. Mauris viverra tincidunt enim, vitae elementum lacus gravida eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi non tortor cursus, tempor dolor eget, pulvinar felis. Curabitur erat enim, auctor non sem a, facilisis venenatis ipsum. Donec aliquet nulla sem, a efficitur arcu pretium at. Aenean ornare tristique varius. Sed mattis sapien ligula, ac pellentesque turpis malesuada sed. Vestibulum congue consectetur scelerisque.
            </p>
        </div>
            
        <button id="button1" value="b1" onclick="window.location.href = '/mainmenu';">Back</button>

    </div>
    <p id="credit">image credit: tokyoluv@instagram</p>
</body>

</html>