<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/apphead.ejs %>
</head>

<body>
    <div id="container">

        <div id="header">
            <h3 id="title">Not A Web App</h3>

            <br>
            <form id="loginForm" method="post">
                <input type="text" name='userid' placeholder="user id" maxlength="25" required>
                <input type="password" name='password' maxlength="25" placeholder="password" required>
                <br>
                <input type="button" id="login" onclick="loginUser()" value="login"></button>
            </form>
            <h5 id="msg"></h5>
            <h6>don't have an account?</h6>
            <a href="signup"> >> Sign Up << </a>
        </div>
        <br>
        <form id="mapSubmit" method="post">
          <!-- local IDIOT (me) doesn't know how to get/post on non-form elements so this is what you've got for
            tentative API usage on our iteration 2; core functionality will DEFINITELY be changed but this is
            probably the baseline for what we implement now that we're changing our whole project (thx Bobby <3) -->
            <input type="text" name='sample' placeholder="input" required>
            <input type="button" id="mapButton" onclick="useMaps()" value="click here for SAMPLE API usage (iteration 2)"></button>
        </form>


    </div>
    <script>
        //Login user
        function loginUser() {
          document.getElementById('loginForm').action = '/login';
          document.getElementById('loginForm').submit();
        }
        function useMaps() {
          document.getElementById('mapSubmit').action = '/randMap';
          document.getElementById('mapSubmit').submit();
        }
    </script>
</body>

</html>