<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/apphead.ejs %>
</head>

<body>
    <div id="container">

        <div id="header">
            <h3 id="title">Not A Web App</h3>

            <br>
            <form id="loginForm" method="post">
                <input type="text" name='userid' placeholder="user id" maxlength="25" required>
                <input type="password" name='password' maxlength="25" placeholder="password" required>
                <br>
                <input type="submit" id="login" onclick="loginUser()" value="login"></button>
            </form>

            <h6>don't have an account?</h6>
            <a href="signup"> >> Sign Up << </a>
        </div>


    </div>
    <script>
        //Login user
        function loginUser() {
            document.getElementById('loginForm').action = '/login';
            document.getElementById('loginForm').submit();
        }
    </script>
</body>

</html>