<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/apphead2.ejs %>
</head>

<body>
    <div id="container">

            <h3 id="title">Welcome Back,</h3>
            
            <!-- in case we have time for user picture<div id="ppbox"></div> -->
            <h5 id="username"><%= rows[0].userid %></h5>
            
            
            <button id="button1" value="b1" onclick="window.location.href = 'main';">New Game</button>
            <br>
            <button id="button2" value="b2" onclick="window.location.href = 'underconstruction';">Achievements</button>
            <br>
            <button id="button3" value="b3" onclick="window.location.href = 'underconstruction';">Continue</button>
            <br>
            <button id="button4" value="b4" onclick="window.location.href = 'underconstruction';">Settings</button>
            <br>
            <button id="button5" value="b5" onclick="window.location.href = 'underconstruction';">Exit</button>
            <br>
            <button id="button6" value="b6" onclick="window.location.href = 'underconstruction';">SOMETHING</button>
            <br>
            
        
        
    </div>
     <p>image credit: tokyoluv@instagram</p>
</body>

</html>