<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Not A Web App</title>
    <link rel="stylesheet" href="NotAWebApp.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script src="/js/NotAWebApp.js"></script>
    
    <!-- Google font for h1-->
    <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
</head>
    
<body>
     <div class="container">
        <h1 id="title">Map Game</h1>
         
         <div class="buttons-and-options">
            <button id="logout-form" onclick="location.href='/mainmenu'">Back</button>
             <br>
             <button id="fright" onclick="toggleTheme()">Light Mode</button>
             <br>
             <button id="hint" onclick="">Use Hint</button>
             <br>
             <br>
             <p id="user_online">5</p>
             <br>
             <p>Users Online</p>
             <br>
             <p id="hint_left">3</p>
             <br>
             <p>Hints Left</p>
             <br>
             <br>
             <p id="count_down">10m 00s</p>
             <br>
             <p>Time Left</p>
             <br>
             <p id="score">---</p>
             <br>
             <p>Player's Score</p>
             <br>   
        </div>
         
         <div class="map-and-chat">
            
            <div class="map">
            
            </div>
             
             <div class="chat">
                <ul id="messages"></ul>
                <form id="chatForm">
                    <input id="txt" autocomplete="off" autofocus="on" placeholder="Type here to chat" />
                    <button>Send</button>
                </form>
            </div>

         </div>
         
        <div class="answer">
            <form id="guess-form" action="" method="post">
                <select name="country" id="country_op">
                    <option value="us">U.S.</option>
                    <option value="canada">Canada</option>
                    <option value="china">China</option>
                </select>
             
                <select name="area" id="area_op">
                    <option value="california">California</option>
                    <option value="bc">British Columbia</option>
                    <option value="guangdong">Guangdong</option>
                </select>
             
                <button id="guess" onclick="calculateScore()">Make A Guess</button>
            </form>
            <p id="comment"></p>
         </div>
     </div>
</body>
</html>