<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/apphead5.ejs %>
</head>

<body>
    <div id="container">

        <h3 id="title">Report Bug</h3>
            
        <p>Report Sent!<br><br>We will get back to you soon</p>
        <br><br><br>
        <button id="back" onclick="window.location.href = '/mainmenu';">Back</button>
        <br>
  
    </div>
     <p id="credit">image credit: tokyoluv@instagram</p>
</body>

</html>