<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/apphead2.ejs %>
</head>

<body>
    <div id="container">

        <div id="header">
            <h3 id="title">Under Construction</h3>
            <h5 id="username">nothing to see here :(</h5>
            <button id="button1" value="b1" onclick="window.location.href = 'mainmenu';">go back?</button>            
        </div>


    </div>
</body>

</html>